<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee"
  xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5"
>
  <welcome-file-list>
    <welcome-file>ListAllAccounts</welcome-file>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddClient</display-name>
    <servlet-name>AddClient</servlet-name>
    <servlet-class>edu.enis.control.client.AddClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClient</servlet-name>
    <url-pattern>/AddClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllAccounts</display-name>
    <servlet-name>ListAllAccounts</servlet-name>
    <servlet-class>edu.enis.control.client.ListAllAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllAccounts</servlet-name>
    <url-pattern>/ListAllAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadAsExcelFile</display-name>
    <servlet-name>DownloadAsExcelFile</servlet-name>
    <servlet-class>edu.enis.control.utils.DownloadAsExcelFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAsExcelFile</servlet-name>
    <url-pattern>/DownloadAsExcelFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowClient</display-name>
    <servlet-name>ShowClient</servlet-name>
    <servlet-class>edu.enis.control.client.ShowClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowClient</servlet-name>
    <url-pattern>/ShowClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClient</display-name>
    <servlet-name>DeleteClient</servlet-name>
    <servlet-class>edu.enis.control.client.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClient</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBankAccount</display-name>
    <servlet-name>AddBankAccount</servlet-name>
    <servlet-class>edu.enis.control.bank_account.AddBankAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBankAccount</servlet-name>
    <url-pattern>/AddBankAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBankAccount</display-name>
    <servlet-name>DeleteBankAccount</servlet-name>
    <servlet-class>edu.enis.control.bank_account.DeleteBankAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBankAccount</servlet-name>
    <url-pattern>/DeleteBankAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditBankAccount</display-name>
    <servlet-name>CreditBankAccount</servlet-name>
    <servlet-class>edu.enis.control.bank_account.CreditBankAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditBankAccount</servlet-name>
    <url-pattern>/CreditBankAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitBankAccount</display-name>
    <servlet-name>DebitBankAccount</servlet-name>
    <servlet-class>edu.enis.control.bank_account.DebitBankAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitBankAccount</servlet-name>
    <url-pattern>/DebitBankAccount</url-pattern>
  </servlet-mapping>
</web-app>